.card {
  display: flex; /* texto a la izquierda, imagen a la derecha */
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0;
  background-color: white; /* puedes cambiar con la prop bgcolor */
  font-family: "Poppins", sans-serif;
  

} /* Lado izquierdo */
/* .card__leftside {
  flex: 1; 
} Título */

/* .card__leftside--title h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
} /* Botón */

/* .card__leftside--link button {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
} */
/* .card__leftside--link button:hover {
  background-color: #444;
} /* Lado derecho (imagen) */
/* .card__rightSide {
  position: relative;
  width: 150px;
  height: 150px;
} */ 